<!-- # app/templates/pacientes_edit_form.html -->

{% include 'layout_header.html' %}

{% block extra_styles %}
<!-- Toastr -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/toastr/toastr.min.css') }}">

{% endblock %}

<body class="sidebar-mini layout-navbar-fixed" style="height: auto;">
<div class="wrapper">

    <!-- Navbar -->
    {% include 'layout_navbar.html' %}
    <!-- /.navbar -->

    <!-- Sidebar -->
    {% include 'layout_sidebar.html' %}
    <!-- /.sidebar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>{{ headers['section'] }}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ url_for('index.index') }}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{{ url_for('staffs.staffs_get_all') }}">Paciente</a></li>
                            <li class="breadcrumb-item active">{{ headers['section'] }}</li>
                        </ol>
                    </div>
                </div>
            </div><!-- / .container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ headers['section'] }}</h3>
                            </div>
                            <div class="card-body">
                                <!-- <form id="editForm" method="PUT" action="">  -->
                                <form id="editForm" method="{{ form_method }}" action="{{ form_action }}">
                                    <input type="hidden" name="id_paciente" id="id_paciente" value="{{ form_data.id_paciente }}">
                                    <div class="form-group">
                                    <label for="nombre">Nombres:</label>
                                    <input type="text" class="form-control" id= "nombre"name="nombre" value="{{ form_data.nombre }}">
                                    </div>
                                    <div class="form-group">
                                    <label for="apellidos">Apellidos:</label>
                                    <input type="text" class="form-control" id="apellidos" name="apellidos" value="{{ form_data.apellidos }}">
                                    </div>
                                    <div class="form-group">
                                    <label for="doc_numero">Número de documento:</label>
                                    <input type="text" class="form-control" id="doc_numero" name="doc_numero" value="{{ form_data.doc_numero }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="doc_tipo">Tipo de documento</label>
                                        <select name="doc_tipo" id="doc_tipo" class="form-control">
                                            <option value="">Selecciona un tipo de documento</option>
                                            {% for doc_tipo in opciones_doc_tipos %}
                                                <p>Iterando sobre: {{ doc_tipo }}</p>  <option value="{{ doc_tipo[1] }}">{{ doc_tipo[0] }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="nacionalidad">Nacionalidad</label>
                                        <select name="nacionalidad" id="nacionalidad" class="form-control">
                                            <option value="">Selecciona una nacionalidad</option>
                                            {% for nacionalidad in opciones_nacionalidades %}
                                                <p>Iterando sobre: {{ nacionalidad }}</p>  <option value="{{ nacionalidad[1] }}">{{ nacionalidad[0] }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="localidad">Localidad</label>
                                        <select name="id_localidad" id="id_localidad" class="form-control">
                                            <option value="">Selecciona una localidad</option>
                                            {% for localidad in opciones_localidades %}
                                                <p>Iterando sobre: {{ localidad }}</p>  <option value="{{ localidad[1] }}">{{ localidad[0] }}</option>
                                            {% endfor %}
                                          </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Editar Paciente</button>
                                </form>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </section>
 
        <!-- / .content -->
    </div>
    <!-- /.content-wrapper -->

    {% include 'layout_footer.html' %}

</div>
<!-- ./wrapper -->


<!-- jQuery -->
<script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
<!-- Toastr -->
<script src="{{ url_for('static', filename='plugins/toastr/toastr.min.js') }}"></script>
<!-- jquery-validation -->
<script src="{{ url_for('static', filename='plugins/jquery-validation/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-validation/additional-methods.min.js') }}"></script>

<script>
    $(document).ready(function() {
        // Validación del formulario
        $('#editForm').validate({
            rules: {
                nombre: {
                    required: true,
                    minlength: 2 // Ajusta la longitud mínima según tus necesidades
                },
                apellidos: {
                    required: true,
                    minlength: 2 // Ajusta la longitud mínima según tus necesidades
                },
                doc_tipo: {
                    required: true,
                },
                doc_numero: {
                    required: true,
                    minlength: 8 // Ajusta la longitud mínima según tus necesidades
                },
                nacionalidad: {
                    required: true,
                },
                provincia: {
                    required: true,
                },
                localidad: {
                    required: true,
                },

            },
            messages: {
                nombre: {
                    required: "Por favor, ingresa el nombre."
                },
                apellidos: {
                    required: "Por favor, ingresa el o los apellidos."
                },
                doc_tipo: {
                    required: "Por favor, seleccione un tipo de documento."
                },
                doc_numero: {
                    required: "Por favor, ingrese un número de documento."
                },
                nacionalidad: {
                    required: "Por favor, seleccione una nacionalidad."
                },
                provincia: {
                    required: "Por favor, seleccione una provincia."
                },
                localidad: {
                    required: "Por favor, seleccione una localidad."
                },
                
            }
        });
    
        
    });
        // Seleccionar el formulario
    const form = document.getElementById('editForm');

    // Escuchar el evento submit
    form.addEventListener('submit', (event) => {
    event.preventDefault(); // Prevenir el envío por defectos

    // Obtener los datos del formulario
    const formData = new FormData(form);
    const data = Object.fromEntries(formData.entries());

    fetch(form.action, {
        method: 'PUT',
        headers: {

            'Content-Type': 'application/json',
            // Agrega aquí cualquier encabezado de autorización necesario
            'Authorization': `Bearer ${localStorage.getItem('authToken')}` // Ejemplo
        },

        body: JSON.stringify(data)
        })
        .then(response => {
            console.log('Respuesta:', response);

            if (!response.ok) {
                return response.text().then(text => {
                    throw new Error(`Respuesta del servidor: ${response.status} ${text}`);
                });

            }
        return response.json();

        })

        .then(data => {
            // Manejar la respuesta del servidor
            if (data.message) {
                //alert(data.message);
            }
                // Redirigir a otra página si es necesario
                window.location.href = '/pacientes/get/all';
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Ocurrió un error al guardar los cambios. Detalles del error:', error.message);
        });

    
    });

</script>

{% include 'layout_toastr.html' %}
</body>